
package controllers

import (
	{{- $break_math := false }}
	{{- range .Relations }}
	{{- if .MtM}}
	{{- $break_math = true }}
	{{- end}}
	{{- end}}
	{{- if $break_math }}

	{{ end }}
	"net/http"
	"strconv"

	"github.com/go-playground/validator/v10"
	"github.com/labstack/echo/v4"
	"{{.ProjectName}}/common"
	"{{.ProjectName}}/{{.AppName}}/models"
	"{{.ProjectName}}/{{.AppName}}/services"
	"{{.ProjectName}}/observe"
)

// Get{{.Name}}s function to get a {{.Name}}s with pagination and searchFields
// @Summary Get {{.Name}}s
// @Description Get {{.Name}}s
// @Tags {{.Name}}s
// @Accept json
// @Produce json
// @Security ApiKeyAuth
// @Security Refresh
// @Param page query int true "page"
// @Param size query int true "page size"
{{- range .SearchFields}}
// @Param {{ . }} query string false "Search by {{ . }} optional field string"
{{- end}}
// @Success 200 {object} common.ResponsePagination{data=[]models.{{.Name}}Get}
// @Failure 404 {object} common.ResponseHTTP{}
// @Router /{{.AppName | replaceString}}/{{.LowerName}} [get]
func Get{{.Name}}s(contx echo.Context) error {
	//  Geting tracer
	tracer := contx.Get("tracer").(*observe.RouteTracer)

    //  parsing Query Prameters
	Page, _ := strconv.Atoi(contx.QueryParam("page"))
	Limit, _ := strconv.Atoi(contx.QueryParam("size"))
	//  checking if query parameters  are correct
	if Page == 0 || Limit == 0 {
		return contx.JSON(http.StatusBadRequest, common.ResponseHTTP{
			Success: false,
			Message: "Not Allowed, Bad request",
			Data:    nil,
		})
	}

	// Getting search fields
	searchTerm := make(map[string]any)
		if err := contx.Bind(&searchTerm); err != nil {
			return contx.JSON(http.StatusBadRequest, common.ResponseHTTP{
				Success: false,
				Message: err.Error(),
				Data:    nil,
			})
		}

	searchFields := []string{"username", "email", "first_name", "last_name"}
	filteredSearchTerm := common.FilterMapByKeys(searchTerm, searchFields)

	// Prepare pagination model
	pagination := models.Pagination{
		Page:   Page - 1, // assuming pages are 0-indexed in backend
		Size:   Limit,
	}

	// Fetch {{.LowerName}}s from service
	{{.LowerName}}s,totalCount, err := services.Handler{{.Name}}Service.Get(tracer.Tracer, pagination, filteredSearchTerm)
	if err != nil {
		return contx.JSON(http.StatusInternalServerError, common.ResponseHTTP{
			Success: false,
			Message: err.Error(),
		})
	}

	// Send paginated response
	return contx.JSON(http.StatusOK, common.ResponsePagination{
		Success: true,
		Message: "Success.",
		Items:   {{.LowerName}}s,
		Total:   totalCount,
		Page:    uint(Page),
		Size:    uint(Limit),
	})
}



// Get{{.Name}}ByID is a function to get a {{.Name}}s by ID
// @Summary Get {{.Name}} by ID
// @Description Get {{.LowerName}} by ID
// @Tags {{.Name}}s
// @Security ApiKeyAuth
// @Accept json
// @Produce json
// @Param {{.LowerName}}_id path string true "{{.Name}} ID"
// @Success 200 {object} common.ResponseHTTP{data=models.{{.Name}}Get}
// @Failure 404 {object} common.ResponseHTTP{}
// @Router /{{.AppName | replaceString}}/{{.LowerName}}/{{ "{" }}{{.LowerName}}_id{{ "}" }} [get]
func Get{{.Name}}ByID(contx echo.Context) error {
	//  Geting tracer
	tracer := contx.Get("tracer").(*observe.RouteTracer)

   	//  parsing Query Prameters
	id := contx.Param("{{.LowerName}}_id")

    // Fetch {{.LowerName}} from service
	{{.LowerName}}, err := services.Handler{{.Name}}Service.GetOne(tracer.Tracer, id)
	if err != nil {
		return contx.JSON(http.StatusInternalServerError, common.ResponseHTTP{
			Success: false,
			Message: err.Error(),
		})
	}

	// Send paginated response
	return contx.JSON(http.StatusOK, common.ResponseHTTP{
		Success: true,
		Message: "Success",
		Data:   {{.LowerName}},
	})


}

// Add {{.Name}} to data
// @Summary Add a new {{.Name}}
// @Description Add {{.Name}}
// @Tags {{.Name}}s
// @Security ApiKeyAuth
// @Accept json
// @Produce json
// @Param {{.LowerName}} body models.{{.Name}}Post true "Add {{.Name}}"
// @Success 200 {object} common.ResponseHTTP{data=models.{{.Name}}Post}
// @Failure 400 {object} common.ResponseHTTP{}
// @Failure 500 {object} common.ResponseHTTP{}
// @Router /{{.AppName | replaceString}}/{{.LowerName}} [post]
func Post{{.Name}}(contx echo.Context) error {
	//  Geting tracer
	tracer := contx.Get("tracer").(*observe.RouteTracer)


	// validator initialization
	validate := validator.New()

	//validating post data
	posted_{{.LowerName}} := new(models.{{.Name}}Post)

	//first parse request data
	if err := contx.Bind(&posted_{{.LowerName}}); err != nil {
		return contx.JSON(http.StatusBadRequest, common.ResponseHTTP{
			Success: false,
			Message: err.Error(),
			Data:    nil,
		})
	}

	// then validate structure
	if err := validate.Struct(posted_{{.LowerName}}); err != nil {
		return contx.JSON(http.StatusBadRequest, common.ResponseHTTP{
			Success: false,
			Message: err.Error(),
			Data:    nil,
		})
	}


    // post {{.LowerName}} from service
	{{.LowerName}}, err := services.Handler{{.Name}}Service.Create(tracer.Tracer, posted_{{.LowerName}})
	if err != nil {
		return contx.JSON(http.StatusInternalServerError, common.ResponseHTTP{
			Success: false,
			Message: err.Error(),
		})
	}


	// return data if transaction is sucessfull
	return contx.JSON(http.StatusOK, common.ResponseHTTP{
		Success: true,
		Message: "{{.Name}} created successfully.",
		Data:    {{.LowerName}},
	})
}

// Patch {{.Name}} to data
// @Summary Patch {{.Name}}
// @Description Patch {{.Name}}
// @Tags {{.Name}}s
// @Security ApiKeyAuth
// @Accept json
// @Produce json
// @Param {{.LowerName}} body models.{{.Name}}Patch true "Patch {{.Name}}"
// @Param {{.LowerName}}_id path string true "{{.Name}} ID"
// @Success 200 {object} common.ResponseHTTP{data=models.{{.Name}}Patch}
// @Failure 400 {object} common.ResponseHTTP{}
// @Failure 500 {object} common.ResponseHTTP{}
// @Router /{{.AppName | replaceString}}/{{.LowerName}}/{{ "{" }}{{.LowerName}}_id{{ "}" }} [patch]
func Patch{{.Name}}(contx echo.Context) error {
	//  Geting tracer
	tracer := contx.Get("tracer").(*observe.RouteTracer)

	// validator initialization
	validate := validator.New()

    //getting object_id from path param
    // validate path params
	id:= contx.Param("{{.LowerName}}_id")


	// validate data struct
	patch_{{.LowerName}} := new(models.{{.Name}}Patch)
	if err := contx.Bind(&patch_{{.LowerName}}); err != nil {
		return contx.JSON(http.StatusBadRequest, common.ResponseHTTP{
			Success: false,
			Message: err.Error(),
			Data:    nil,
		})
	}

    // then validate structure
	if err := validate.Struct(patch_{{.LowerName}}); err != nil {
		return contx.JSON(http.StatusBadRequest, common.ResponseHTTP{
			Success: false,
			Message: err.Error(),
			Data:    nil,
		})
	}



    // patch {{.LowerName}} from service
	{{.LowerName}}, err := services.Handler{{.Name}}Service.Update(tracer.Tracer, patch_{{.LowerName}},id)
	if err != nil {
		return contx.JSON(http.StatusInternalServerError, common.ResponseHTTP{
			Success: false,
			Message: err.Error(),
		})
	}


	// return data if transaction is sucessfull
	return contx.JSON(http.StatusOK, common.ResponseHTTP{
		Success: true,
		Message: "{{.Name}} updated successfully.",
		Data:    {{.LowerName}},
	})
}


// Delete{{.Name}}s function removes a {{.LowerName}} by ID
// @Summary Remove {{.Name}} by ID
// @Description Remove {{.LowerName}} by ID
// @Tags {{.Name}}s
// @Security ApiKeyAuth
// @Accept json
// @Produce json
// @Param {{.LowerName}}_id path string true "{{.Name}} ID"
// @Success 200 {object} common.ResponseHTTP{}
// @Failure 404 {object} common.ResponseHTTP{}
// @Failure 503 {object} common.ResponseHTTP{}
// @Router /{{.AppName | replaceString}}/{{.LowerName}}/{{ "{" }}{{.LowerName}}_id{{ "}" }} [delete]
func Delete{{.Name}}(contx echo.Context) error {
	//  Geting tracer
	tracer := contx.Get("tracer").(*observe.RouteTracer)


	// validate path params
	id:= contx.Param("{{.LowerName}}_id")


    // delete {{.LowerName}} from service
	err := services.Handler{{.Name}}Service.Delete(tracer.Tracer, id)
	if err != nil {
		return contx.JSON(http.StatusInternalServerError, common.ResponseHTTP{
			Success: false,
			Message: err.Error(),
		})
	}


	// Return success respons
	return contx.JSON(http.StatusOK, common.ResponseHTTP{
		Success: true,
		Message: "{{.Name}} deleted successfully.",
		Data:    nil,
	})
}



{{- range .Relations }}
// ##########################################################
// ##########  Relationship  Services to {{.FieldName}}
// ##########################################################
// Add {{.FieldName}} to {{.ParentName}}
// @Summary Add {{.ParentName}} to {{.FieldName}}
// @Description Add {{.FieldName}} {{.ParentName}}
// @Tags {{.FieldName}}{{.ParentName}}s
// @Security ApiKeyAuth
// @Accept json
// @Produce json
// @Param {{.LowerFieldName}}_id path string true "{{.FieldName}} ID"
// @Param {{.LowerParentName}}_id path string true "{{.ParentName}} ID"
// @Failure 400 {object} common.ResponseHTTP{}
// @Router /{{$.AppName | replaceString}}/{{.LowerParentName}}{{.LowerFieldName}}/{{ "{" }}{{.LowerFieldName}}_id{{ "}" }}/{{ "{" }}{{.LowerParentName}}_id{{ "}" }} [post]
func Add{{.FieldName}}To{{.ParentName}}(contx echo.Context) error {
	//  Geting tracer
	tracer := contx.Get("tracer").(*observe.RouteTracer)

	// validate path params
	{{.LowerFieldName}}_id := contx.Param("{{.LowerFieldName}}_id")

	// validate path params
	{{.LowerParentName}}_id := contx.Param("{{.LowerParentName}}_id")


	err := services.Handler{{$.Name}}Service.Add{{$.Name}}To{{.FieldName}}(tracer.Tracer, {{.LowerParentName}}_id,{{.LowerFieldName}}_id)
	if err != nil {
		return contx.JSON(http.StatusInternalServerError, common.ResponseHTTP{
			Success: false,
			Message: err.Error(),
		})
	}

	// return value if transaction is sucessfull
	return contx.JSON(http.StatusOK, common.ResponseHTTP{
		Success: true,
		Message: "Success Added {{.FieldName}} to  {{.ParentName}}.",
		Data:    nil,
	})
}


// Delete {{.FieldName}} from {{.ParentName}}
// @Summary Delete {{.FieldName}}
// @Description Delete {{.FieldName}} {{.ParentName}}
// @Tags {{.FieldName}}{{.ParentName}}s
// @Security ApiKeyAuth
// @Accept json
// @Produce json
// @Param {{.LowerFieldName}}_id path string true "{{.FieldName}} ID"
// @Param {{.LowerParentName}}_id path string true "{{.ParentName}} ID"
// @Success 200 {object} common.ResponseHTTP{data=models.{{.ParentName}}Post}
// @Failure 400 {object} common.ResponseHTTP{}
// @Failure 500 {object} common.ResponseHTTP{}
// @Router /{{$.AppName | replaceString}}/{{.LowerParentName}}{{.LowerFieldName}}/{{ "{" }}{{.LowerFieldName}}_id{{ "}" }}/{{ "{" }}{{.LowerParentName}}_id{{ "}" }} [delete]
func Delete{{.FieldName}}From{{.ParentName}}(contx echo.Context) error {
	//  Geting tracer
		tracer := contx.Get("tracer").(*observe.RouteTracer)

	// validate path params
	{{.LowerFieldName}}_id := contx.Param("{{.LowerFieldName}}_id")

	// validate path params
	{{.LowerParentName}}_id := contx.Param("{{.LowerParentName}}_id")


	// removing {{.FieldName}}From{{.ParentName}}
	err := services.Handler{{$.Name}}Service.Remove{{ $.Name}}From{{.FieldName}}(tracer.Tracer, {{.LowerParentName}}_id,{{.LowerFieldName}}_id)
	if err != nil {
		return contx.JSON(http.StatusInternalServerError, common.ResponseHTTP{
			Success: false,
			Message: err.Error(),
		})
	}

	// return value if transaction is sucessfull
	return contx.JSON(http.StatusOK, common.ResponseHTTP{
		Success: true,
		Message: "Success Removing {{.FieldName}} From {{.ParentName}}.",
		Data:    nil,
	})
}


// Get {{.FieldName}}s of {{.ParentName}}
// @Summary Get {{.ParentName}} to {{.FieldName}}
// @Description Get {{.FieldName}} {{.ParentName}}
// @Tags {{.FieldName}}{{.ParentName}}s
// @Security ApiKeyAuth
// @Accept json
// @Produce json
// @Param page query int true "page"
// @Param size query int true "page size"
// @Success 200 {object} common.ResponsePagination{data=[]models.{{.FieldName}}Get}
// @Param {{.LowerParentName}}_id path string true "{{.ParentName}} ID"
// @Failure 400 {object} common.ResponseHTTP{}
// @Router /{{$.AppName | replaceString}}/{{.LowerParentName}}{{.LowerFieldName}}/{{ "{" }}{{.LowerParentName}}_id{{ "}" }} [get]
func Get{{.FieldName}}sOf{{.ParentName}}s(contx echo.Context) error {
	//  Geting tracer
	tracer := contx.Get("tracer").(*observe.RouteTracer)

	//  parsing Query Prameters
	Page, _ := strconv.Atoi(contx.QueryParam("page"))
	Limit, _ := strconv.Atoi(contx.QueryParam("size"))
	//  checking if query parameters  are correct
	if Page == 0 || Limit == 0 {
		return contx.JSON(http.StatusBadRequest, common.ResponseHTTP{
			Success: false,
			Message: "Not Allowed, Bad request",
			Data:    nil,
		})
	}

	// validate path params
	{{.LowerParentName}}_id := contx.Param("{{.LowerParentName}}_id")

    // Prepare pagination model
	pagination := models.Pagination{
		Page:   Page - 1, // assuming pages are 0-indexed in backend
		Size:   Limit,
	}


    // Fetch {{$.LowerName}}s from service
	{{.LowerFieldName}}s,totalCount, err := services.Handler{{$.Name}}Service.Get{{$.Name}}{{.FieldName}}s(tracer.Tracer,{{.LowerParentName}}_id ,pagination)
	if err != nil {
		return contx.JSON(http.StatusInternalServerError, common.ResponseHTTP{
			Success: false,
			Message: err.Error(),
		})
	}


	// Send paginated response
	return contx.JSON(http.StatusOK, common.ResponsePagination{
		Success: true,
		Message: "Success",
		Items:   {{.LowerFieldName}}s,
		Total:   totalCount,
		Page:    uint(Page),
		Size:    uint(Limit),
	})
}

// #########################
// No Pagination Services###
// #########################


// Get {{.FieldName}}s of {{.ParentName}} Complement
// @Summary Get {{.ParentName}} to {{.FieldName}} Complement
// @Description Get {{.FieldName}} {{.ParentName}} Complement
// @Tags {{.FieldName}}{{.ParentName}}s
// @Security ApiKeyAuth
// @Accept json
// @Produce json
// @Success 200 {object} common.ResponseHTTP{data=[]models.{{.FieldName}}Get}
// @Param {{.LowerParentName}}_id path string true "{{.ParentName}} ID"
// @Failure 400 {object} common.ResponseHTTP{}
// @Router /{{$.AppName | replaceString}}/{{.LowerFieldName}}noncomplement{{.LowerParentName}}/{{ "{" }}{{.LowerParentName}}_id{{ "}" }} [get]
func GetAll{{.FieldName}}sOf{{.ParentName}}s(contx echo.Context) error {
	//  Geting tracer
	tracer := contx.Get("tracer").(*observe.RouteTracer)

	// validate path params
	{{.LowerParentName}}_id := contx.Param("{{.LowerParentName}}_id")


    // Fetch {{$.LowerName}}s from service
	{{.LowerFieldName}}s, err := services.Handler{{$.Name}}Service.GetAll{{.FieldName}}sFor{{$.Name}}(tracer.Tracer,{{.LowerParentName}}_id)
	if err != nil {
		return contx.JSON(http.StatusInternalServerError, common.ResponseHTTP{
			Success: false,
			Message: err.Error(),
		})
	}

	// return value if transaction is sucessfull
	return contx.JSON(http.StatusOK, common.ResponseHTTP{
		Success: true,
		Data:   {{.LowerFieldName}}s,
		Message: "working",
	})
}

// Get {{.FieldName}}s of {{.ParentName}} Not Complement
// @Summary Get {{.ParentName}} to {{.FieldName}} Not Complement
// @Description Get {{.FieldName}} {{.ParentName}} Not Complement
// @Tags {{.FieldName}}{{.ParentName}}s
// @Security ApiKeyAuth
// @Accept json
// @Produce json
// @Success 200 {object} common.ResponseHTTP{data=[]models.{{.FieldName}}Get}
// @Param {{.LowerParentName}}_id path string true "{{.ParentName}} ID"
// @Failure 400 {object} common.ResponseHTTP{}
// @Router /{{$.AppName | replaceString}}/{{.LowerFieldName}}complement{{.LowerParentName}}/{{ "{" }}{{.LowerParentName}}_id{{ "}" }} [get]
func Get{{.FieldName}}Complement{{.ParentName}}s(contx echo.Context) error {
	//  Geting tracer
	tracer := contx.Get("tracer").(*observe.RouteTracer)

	// validate path params
	{{.LowerParentName}}_id := contx.Param("{{.LowerParentName}}_id")


    // Fetch {{$.LowerName}}s from service
	{{.LowerFieldName}}s, err := services.Handler{{$.Name}}Service.GetAll{{.FieldName}}s{{$.LowerName }}DoesNotHave(tracer.Tracer,{{.LowerParentName}}_id)
	if err != nil {
		return contx.JSON(http.StatusInternalServerError, common.ResponseHTTP{
			Success: false,
			Message: err.Error(),
		})
	}


	// return value if transaction is sucessfull
	return contx.JSON(http.StatusOK, common.ResponseHTTP{
		Success: true,
		Data:   {{.LowerFieldName}}s,
		Message: "working",
	})
}


{{- end }}
