{
    "project_name": "{{.ProjectName}}",
    "app_name": "{{.AppName}}",
    "models": [
      {
        "name": "Permission",
        "rln_model": ["User$mtm$user_permissions"],
        "search_fields": ["codename"],
        "fields": [
          {
            "name": "ID",
            "type": "uint",
            "annotation": "gorm:\"primaryKey;autoIncrement:true\" json:\"id,omitempty\"",
            "curd_flag": "true$false$false$false$false$false"
          },
          {
            "name": "ContentTypeID",
            "type": "sql.NullInt64",
            "annotation": "gorm:\"foreignkey:ContentTypeID default:NULL;,OnDelete:SET NULL;\" json:\"content_type_id,omitempty\" swaggertype:\"number\"",
            "curd_flag": "true$false$false$true$true$false"
          },
          {
            "name": "Codename",
            "type": "string",
            "annotation": "gorm:\"not null; unique; \" json:\"codename,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "Users",
            "type": "[]User",
            "annotation": "gorm:\"many2many:user_permissions; constraint:OnUpdate:CASCADE; OnDelete:CASCADE;\" json:\"users,omitempty\"",
            "curd_flag": "false$false$false$false$false$true"
          },
          {
            "name": "Groups",
            "type": "[]Group",
            "annotation": "gorm:\"many2many:group_permissions; constraint:OnUpdate:CASCADE; OnDelete:CASCADE;\" json:\"groups,omitempty\"",
            "curd_flag": "false$false$false$false$false$true"
          }
        ]
      },
      {
        "name": "User",
         "search_fields": ["username","email","first_name","last_name"],
        "rln_model": [
          "Permission$mtm$user_permissions",
          "Group$mtm$user_groups"
        ],
        "fields": [
          {
            "name": "ID",
            "type": "uint",
            "annotation": "gorm:\"primaryKey;autoIncrement:true\" json:\"id,omitempty\"",
            "curd_flag": "true$false$false$false$false$false"
          },
          {
            "name": "Password",
            "type": "string",
            "annotation": "gorm:\"not null;\" json:\"password,omitempty\"",
            "curd_flag": "false$true$true$true$false$false"
          },
          {
            "name": "LastLogin",
            "type": "time.Time",
            "annotation": "gorm:\"constraint:not null;\" json:\"last_login,omitempty\"",
            "curd_flag": "true$false$false$false$false$false"
          },
          {
            "name": "IsSuperuser",
            "type": "bool",
            "annotation": "gorm:\"default:false; constraint:not null;\" json:\"is_superuser\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "Username",
            "type": "string",
            "annotation": "gorm:\"not null; unique; type:string;\" json:\"username,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "FirstName",
            "type": "string",
            "annotation": "gorm:\"constraint:not null; type:string;\" json:\"first_name\"",
            "curd_flag": "true$true$true$false$true$false"
          },
          {
            "name": "LastName",
            "type": "string",
            "annotation": "gorm:\"constraint:not null; type:string;\" json:\"last_name\"",
            "curd_flag": "true$true$true$false$true$false"
          },
          {
            "name": "Email",
            "type": "string",
            "annotation": "gorm:\"not null; unique; type:string;\" json:\"email,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "IsStaff",
            "type": "bool",
            "annotation": "gorm:\"default:false; constraint:not null;\" json:\"is_staff\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "IsActive",
            "type": "bool",
            "annotation": "gorm:\"default:true; constraint:not null;\" json:\"is_active\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "Groups",
            "type": "[]Group",
            "annotation": "gorm:\"many2many:user_groups; constraint:OnUpdate:CASCADE; OnDelete:CASCADE;\" json:\"groups,omitempty\"",
            "curd_flag": "fasle$false$false$false$false$true"
          },
          {
            "name": "Permissions",
            "type": "[]Permission",
            "annotation": "gorm:\"many2many:user_permissions; constraint:OnUpdate:CASCADE; OnDelete:CASCADE;\" json:\"permissions,omitempty\"",
            "curd_flag": "fasle$false$false$false$false$true"
          }
        ]
      },
      {
        "name": "ContentType",
        "rln_model": [],
         "search_fields": [],
        "fields": [
          {
            "name": "ID",
            "type": "uint",
            "annotation": "gorm:\"primaryKey;autoIncrement:true\" json:\"id,omitempty\"",
            "curd_flag": "true$false$false$false$false$false"
          },
          {
            "name": "AppLabel",
            "type": "string",
            "annotation": "gorm:\"not null;\" json:\"app_label,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "Model",
            "type": "string",
            "annotation": "gorm:\"not null;\" json:\"model,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          }
        ]
      },
      {
        "name": "Group",
        "rln_model": ["Permission$mtm$group_permissions"],
         "search_fields": ["name"],
        "fields": [
          {
            "name": "ID",
            "type": "uint",
            "annotation": "gorm:\"primaryKey;autoIncrement:true\" json:\"id,omitempty\"",
            "curd_flag": "true$false$false$false$false$false"
          },
          {
            "name": "Name",
            "type": "string",
            "annotation": "gorm:\"not null;\" json:\"name,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "Users",
            "type": "[]User",
            "annotation": "gorm:\"many2many:user_groups; constraint:OnUpdate:CASCADE; OnDelete:CASCADE;\" json:\"users,omitempty\"",
            "curd_flag": "true$false$false$false$false$true"
          }
        ]
      },
      {
        "name": "JWTSalt",
        "rln_model": [],
         "search_fields": [],
        "fields": [
          {
            "name": "ID",
            "type": "uint",
            "annotation": "gorm:\"primaryKey;autoIncrement:true\" json:\"id,omitempty\"",
            "curd_flag": "true$false$false$false$false$false"
          },
          {
            "name": "SaltA",
            "type": "string",
            "annotation": "gorm:\"not null; unique;\" json:\"salt_a,omitempty\"",
            "curd_flag": "true$false$false$false$false$false"
          },
          {
            "name": "SaltB",
            "type": "string",
            "annotation": "gorm:\"not null; unique;\" json:\"salt_b,omitempty\"",
            "curd_flag": "true$false$false$false$false$false"
          }
        ]
      }
    ]
  }
  