package {{ .AppName | replaceString }}

import (
	"fmt"
	"strings"
	"{{.ProjectName}}/observe"
	"github.com/labstack/echo/v4"
	"go.opentelemetry.io/otel/attribute"
)


func otelechospanstarter(next echo.HandlerFunc) echo.HandlerFunc {
	return func(ctx echo.Context) error {
		routeName := ctx.Path() + "_" + strings.ToLower(ctx.Request().Method)
		tracer, span := observe.EchoAppSpanner(ctx, fmt.Sprintf("%v-root", routeName))
		ctx.Set("tracer", &observe.RouteTracer{Tracer: tracer, Span: span})

		// Process request
		err := next(ctx)
		if err != nil {
			return err
		}
		// Only log failed requests (status >= 400)
        status := ctx.Response().Status
        if status >= 400 {
            span.SetAttributes(attribute.String("response", fmt.Sprintf("%v", status)))
            span.RecordError(fmt.Errorf("HTTP error: %d", status))
        }
        span.End()
		
		return nil
	}
}


// Custom Middlewares can be added here specfic to the app
