
package manager

import (
	"time"

	"{{.ProjectName}}/logs"
	"github.com/gofiber/fiber/v3"
	"go.uber.org/zap"
	"go.uber.org/zap/zapcore"
)

func FiberZapLogger(l *logs.Logger) fiber.Handler {
	z := l.GetZapLogger()

	return func(c fiber.Ctx) error {
		start := time.Now()
		err := c.Next()

		status := c.Response().StatusCode()

		// 🔒 Only log when status > 400
		if status <= 400 {
			return err
		}

		// 🚨 ALWAYS error level when logged
		if ce := z.Check(zap.ErrorLevel, "request"); ce != nil {
			fCtx := c.RequestCtx()

			fields := []zapcore.Field{
				zap.ByteString("method", fCtx.Method()),
				zap.ByteString("path", fCtx.Path()),
				zap.Int("status", status),
				zap.Duration("latency", time.Since(start)),
				zap.String("ip", c.IP()),
			}

			if err != nil {
				fields = append(fields, zap.Error(err))
			}

			ce.Write(fields...)
		}

		return err
	}
}
