package repository

import (
	"database/sql"
    "regexp"
	"{{ .ProjectName }}/cache"
	"{{ .ProjectName }}/configs"
	db "{{ .ProjectName }}/{{ .AppName}}/sqlc"
	"gorm.io/gorm"
)



// AppDatabase Service wraps Dababase service(SQL)
type {{ .AppName | toPascalCase }}Repository struct {
	SQLC  *sql.DB
	DB *gorm.DB
	Cache *cache.CacheService
	Queries      *db.Queries 
	Cfg   *configs.EnvConfig
	ForeignRegex *regexp.Regexp
    NumberRegex  *regexp.Regexp
}



func InitRepository(client *gorm.DB, cacheService *cache.CacheService, cfg *configs.EnvConfig) *{{ .AppName | toPascalCase }}Repository {
	sqlDB, _ := client.DB() // Extract standard sql.DB from GORM
	queries := db.New(sqlDB)
	
	return &{{ .AppName | toPascalCase }}Repository{
		SQLC:         sqlDB,
		DB:    client,
		Cache: cacheService,
		Queries:      queries,
		Cfg:   cfg,
        ForeignRegex: regexp.MustCompile(`(?i)_id$`), // Prepare regex to check for *_id pattern
        NumberRegex:  regexp.MustCompile(`^\d+$`),
	}

}
