package services

import (
	"{{ .ProjectName }}/cache"
	"gorm.io/gorm"
)

var AppCacheService *cache.CacheService

func InitServices(client *gorm.DB) {
    var err error
	AppCacheService, err = cache.NewCacheService()
	if err != nil {
		panic("Unable to initialize cache service")
	}

	// Initialize services here
{{- range .Models}}
	New{{.Name}}Service(client)
{{- end}}
}
