package controllers

import (
	"{{ .ProjectName }}/{{.AppName}}/services"
	"{{ .ProjectName }}/{{.AppName}}/concurrency"
	validator "github.com/go-playground/validator/v10"
)

type {{ .AppName | toPascalCase }}Controller struct {
	Svc       *services.{{ .AppName | toPascalCase }}Service
	Validator *validator.Validate
	Executor  *concurrency.Executor
}

func New{{ .AppName | toPascalCase }}Controller(svc *services.{{ .AppName | toPascalCase }}Service ) *{{ .AppName | toPascalCase }}Controller {
	return &{{ .AppName | toPascalCase }}Controller{
		Svc:       svc,
		Validator: validator.New(),
		Executor: concurrency.NewExecutor(2000),
	}
}
