package services

import (
	"fmt"
	"context"
	"{{.ProjectName}}/{{ .CurrentAppName}}/repository"
	)

func (s *{{ .CurrentAppName | toPascalCase }}Service) Login(email, password string, ctx context.Context) (string, error) {
	token, err := s.Repo.Login(email, password, ctx)
    if err != nil {
        return "", fmt.Errorf("login failed: %w", err)
    }
	return token, nil
}

func (s *{{ .CurrentAppName | toPascalCase }}Service) DecodeToken(tokenString string) (repository.UserClaim, error) {
	claims, err := s.Repo.DecodeToken(tokenString)
	if err != nil {
		return repository.UserClaim{}, fmt.Errorf("error parsing token: %w", err)
	}
	return claims, nil
}

func (s *{{ .CurrentAppName | toPascalCase }}Service) RefreshToken(tokenString string) (string, error) {
	newToken, err := s.Repo.RefreshToken(tokenString)
    if err != nil {
        return "", fmt.Errorf("token refresh failed: %w", err)
    }

	return newToken, nil
}


func (s *{{ .CurrentAppName | toPascalCase }}Service) GetUserDetails(tokenString string) (map[string]any, error) {
    userDetails, err := s.Repo.GetUserDetails(tokenString)
    if err != nil {
        return nil, fmt.Errorf("failed to get user details: %w", err)
     }
	return userDetails, nil
}
