package main

import (
	"log"
	"net/http"
	_ "net/http/pprof"

	"{{.ProjectName}}/manager"
)

//docker run --rm --name jaeger   -p 16686:16686   -p 4317:4317   -p 4318:4318   -p 5778:5778   -p 9411:9411   cr.jaegertracing.io/jaegertracing/jaeger:2.8.0
// scrud install -u bushubdegefu -p scrud-play -a blue-admin
// go tool pprof -alloc_objects http://localhost:6060/debug/pprof/heap
//curl http://localhost:6060/debug/pprof/heap?gc=1 > after.pb.gz
//go tool pprof -inuse_space after.pb.gz
//go tool pprof -alloc_space after.pb.gz
//hey -z 2m -c 5000 -m GET -q 10000 -H "x-app-key:Bearer something"  'http://localhost:7500/api/v1/blue_admin/user?page=1&size=20'

func main() {

	go func() {
		log.Println(http.ListenAndServe("localhost:6060", nil))
	}()
	manager.Execute()
}

