HTTP_PORT=7500
BODY_LIMIT=70
READ_BUFFER_SIZE=40
RATE_LIMIT_PER_SECOND=5000

#Interval in minutes
CLEAR_LOGS_INTERVAL=120
# JWT token settings
JWT_SALT_LIFE_TIME=60 #in minutes
JWT_SALT_LENGTH=25

#RPC settings
RPC_PORT=6500

###################################################
#Observability settings
###################################################
TRACE_EXPORTER=jaeger
TRACER_HOST=localhost
TRACER_PORT=4317
TRACER_SAMPLE="0.1"

###################################################
# Local Cache Settings for Ristoretto
###################################################
NUMBER_OF_COUNTERS=10000000
MAX_CACHE_SIZE=50
BUFFER_ITEMS=64  # Allowed Maximum Concurrent Requests
TIME_TO_LIVE=10  #in minutes

APP_NAME=dev
{{- range .AppNames }}
###################################################
#  {{ . | replaceStringCapitalize }} Specfic Values
###################################################
{{ . | replaceStringCapitalize }}_APP_NAME=dev
{{ . | replaceStringCapitalize }}_TEST_NAME="Development Development"

#Database config settings
#{{ . | replaceStringCapitalize }}_DB_TYPE=postgres
#{{ . | replaceStringCapitalize }}_POSTGRES_URI="host=localhost user=blueuser password=default dbname=learning_one port=5432 sslmode=disable"
{{ . | replaceStringCapitalize }}_DB_TYPE="sqlite"
{{ . | replaceStringCapitalize }}_SQLLITE_URI="{{ . | replaceString}}_blue.db"
#{{ . | replaceStringCapitalize }}_DB_TYPE="mongodb"
#{{ . | replaceStringCapitalize }}_MONGODB_URI="yourmongouri"
#{{ . | replaceStringCapitalize }}_DB_TYPE="mysql"
#{{ . | replaceStringCapitalize }}_MYSQL_URI="yenefivy_beimnet:bluenet%402025@tcp(109.70.148.37:3306)/gorm?charset=utf8&parseTime=True&loc=Local"

#Messeage qeue settings specifically rabbit
{{ . | replaceStringCapitalize}}_RABBIT_URI="amqps://xrqlluoo:4hAUYGqztMsWyFdT5r65j4xudTw-AWl1@puffin.rmq2.cloudamqp.com/xrqlluoo"

{{- end }}
