package repository

import (
	"context"
	"fmt"
	"strconv"

	"{{ .ProjectName }}/{{ .AppName }}/models"
	  "{{ .ProjectName }}/querybuilder"
	  "database/sql"
	

)




// ##########################################################
// ##########  Relationship  Services to {{.FieldName}}
// ##########################################################

func (s *{{ .AppName | toPascalCase }}Repository) Add{{.ParentName}}To{{.FieldName}}(ctx context.Context, {{.ParentName | toLowerCaseName}}ID, {{.LowerFieldName}}ID string,tx *sql.Tx) error {
	// Fetching
	{{.ParentName | toInitials}}ID, err := strconv.Atoi({{.ParentName | toLowerCaseName}}ID)
	if err != nil {
		return err
	}

	{{.FieldName | toInitials}}ID, err := strconv.Atoi({{.LowerFieldName}}ID)
	if err != nil {
		return err
	}

	
	isPG := s.DB.Dialector.Name() == "postgres"
	{{ if .MtM }}
	qb := querybuilder.GetBuilder(isPG)
	defer qb.Release()
		
	qb.Insert("{{.TableName}}").
		Columns("{{.LowerParentName }}_id", "{{.LowerFieldName }}_id").
		Values({{.ParentName | toInitials }}ID, {{.FieldName | toInitials }}ID)


	query, args, err := qb.ToSql()
	if err != nil {
		return err
	}

	_, err = tx.ExecContext(ctx, query, args...)
	if err != nil {
		return fmt.Errorf("failed to add user to group: %v", err)
		}
	{{- end}}


	{{- if .OtM }}
	// Build Insert
	qb := querybuilder.GetBuilder(isPG)
	defer qb.Release()
		
	qb.Update("{{.LowerFieldName}}s").
        Set("{{.LowerParentName}}_id", {{.ParentName | toInitials}}ID).
        Where("id = ?",{{.FieldName | toInitials}}ID)


	query, args, err := qb.ToSql()
	if err != nil {
		return err
	}

	_, err = tx.ExecContext(ctx, query, args...)
	if err != nil {
		return err
		}

	{{- end}}


	return nil
}

func (s *{{ .AppName | toPascalCase }}Repository) Remove{{ .ParentName}}From{{.FieldName}}(ctx context.Context, {{.ParentName | toLowerCaseName}}ID, {{.LowerFieldName}}ID string, tx *sql.Tx) error {
	{{- if .MtM }}
	// Fetching
	{{.ParentName | toInitials}}ID, err := strconv.Atoi({{.ParentName | toLowerCaseName}}ID)
	if err != nil {
		return err
	}
	{{- end }}

	{{.FieldName | toInitials}}ID, err := strconv.Atoi({{.LowerFieldName}}ID)
	if err != nil {
		return err
	}

	isPG := s.DB.Dialector.Name() == "postgres"	
	{{ if .MtM }}
	// Build Insert
	qb := querybuilder.GetBuilder(isPG)
	defer qb.Release()

	qb.Delete("{{.TableName}}").
		Where("{{.LowerParentName }}_id = ?", {{.ParentName | toInitials}}ID).
		Where("{{.LowerFieldName }}_id = ?", {{.FieldName | toInitials}}ID)

	

	query, args, err := qb.ToSql()
	if err != nil {
		return err
	}

	_, err = tx.ExecContext(ctx, query, args...)
	if err != nil {
		return fmt.Errorf("failed to add user to group: %v", err)
		}
	{{- end}}


	{{- if .OtM }}
	// Build Insert
	qb := querybuilder.GetBuilder(isPG)
	defer qb.Release()

	qb.Update("{{.LowerFieldName}}s").
        Set("{{.LowerParentName}}_id", nil).
        Where("id = ?", {{.FieldName | toInitials}}ID)


	query, args, err := qb.ToSql()
	if err != nil {
		return err
	}

	_, err = tx.ExecContext(ctx, query, args...)
	if err != nil {
		return err
		}

	{{- end}}


	

	return nil
}


func (s *{{ .AppName | toPascalCase }}Repository) Get{{.ParentName}}{{.FieldName}}s(ctx context.Context, {{.ParentName | toLowerCaseName}}ID string, pagination models.Pagination, out *[]models.{{.FieldName}}Get) (uint, error) {
	{{.ParentName | toInitials}}ID, err := strconv.Atoi({{.ParentName | toLowerCaseName}}ID)
	if err != nil {
		return  0,fmt.Errorf("invalid {{.ParentName | toLowerCaseName}} ID: %v", err)
	}
	
	isPG := s.DB.Dialector.Name() == "postgres"

	{{- if  .MtM }}
	qb := querybuilder.GetBuilder(isPG)
	defer qb.Release()
		
	qb.Select("{{.FieldName | toInitials}}.*", "count(*) OVER() as total_count").
    	From("{{.LowerFieldName}}s {{.FieldName | toInitials }}").
        JoinArgs("LEFT JOIN {{.TableName }} {{ .TableName | toInitials}} ON {{.FieldName | toInitials}}.id = {{ .TableName | toInitials}}.{{.LowerFieldName}}_id").
        Where("{{.TableName | toInitials}}.{{.LowerParentName}}_id = ?", {{.ParentName | toInitials}}ID).
        OrderBy("{{.FieldName | toInitials}}.id ASC").
        Limit(pagination.Size).
        Offset((pagination.Page - 1) * pagination.Size)	
	
	{{- end }}
	{{- if .OtM}}
	qb := querybuilder.GetBuilder(isPG)
	defer qb.Release()
		
	qb.Select("{{.FieldName | toInitials}}.*", "count(*) OVER() as total_count").
        From("{{.LowerFieldName}}s {{.FieldName | toInitials }}").
        Where("{{.FieldName | toInitials}}.{{.LowerParentName}}_id = ?", {{.ParentName | toInitials}}ID).
        OrderBy("{{.FieldName | toInitials}}.id ASC").
        Limit(pagination.Size).
        Offset((pagination.Page - 1) * pagination.Size)
	{{- end}}

	
    query, args, err := qb.ToSql()
    if err != nil {
        return  0, err
    }

	// Reset the slice length to 0 (but keep the pooled capacity)
	finalitems := (*out)[:0]

    rows, err := s.SQLC.QueryContext(ctx, query, args...)
    if err != nil {
        return 0, err
    }
    defer rows.Close()


	item := models.{{.FieldName}}GetPool.Get()
    var totalCount int64
    for rows.Next() {
        
        err := rows.Scan(
		  {{- range .ResponseModel.Fields}}{{- if ne .DBType  "None"}} 
            &item.{{.Name}},
          {{- end }}{{- end }}
          &item.UpdatedAt,
          &item.CreatedAt,
            &totalCount,
        )
		finalitems = append(finalitems, *item)
        if err != nil {
			models.{{.FieldName}}GetPool.Put(item)
            return 0, err
        }
		finalitems = append(finalitems, *item)
		item.Reset()
    }
	models.{{.FieldName}}GetPool.Put(item)
	*out = finalitems

	return uint(totalCount), nil
}
// #########################
// No Pagination Services###
// #########################

func (s *{{ .AppName | toPascalCase }}Repository) GetAll{{.FieldName}}sFor{{.ParentName}}(ctx context.Context, {{.ParentName | toLowerCaseName}}ID string,out *[]models.{{.FieldName}}Get) error {
	

	{{.ParentName | toInitials}}ID, err := strconv.Atoi({{.ParentName | toLowerCaseName}}ID)
	if err != nil {
		return  fmt.Errorf("invalid {{.ParentName | toLowerCaseName}} ID: %v", err)
	}
	
	isPG := s.DB.Dialector.Name() == "postgres"
	{{- if  .MtM }}
	qb := querybuilder.GetBuilder(isPG)
	defer qb.Release()
		
	qb.Select("{{.FieldName | toInitials}}.*").
        From("{{.LowerFieldName}}s {{.FieldName | toInitials }}").
        Join("JOIN {{.TableName }} {{ .TableName | toInitials}} ON {{.FieldName | toInitials}}.id = {{ .TableName | toInitials}}.{{.LowerFieldName}}_id").
        Where("{{.TableName | toInitials}}.{{.LowerParentName}}_id = ?", {{.ParentName | toInitials}}ID).
        OrderBy("{{.FieldName | toInitials}}.id ASC")

	
	{{- end }}
	{{- if .OtM}}
	qb := querybuilder.GetBuilder(isPG)
	defer qb.Release()

	qb.Select("{{.FieldName | toInitials}}.*").
        From("{{.LowerFieldName}}s {{.FieldName | toInitials }}").
        Where("{{.FieldName | toInitials}}.{{.LowerParentName}}_id = ? ", {{.ParentName | toInitials}}ID).
        OrderBy("{{.FieldName | toInitials}}.id ASC")
	{{- end}}

	
    query, args, err := qb.ToSql()
    if err != nil {
        return err
    }

	// Reset the slice length to 0 (but keep the pooled capacity)
	finalitems := (*out)[:0]

    rows, err := s.SQLC.QueryContext(ctx, query, args...)
    if err != nil {
        return err
    }
    defer rows.Close()


    item := models.{{.FieldName}}GetPool.Get()
    for rows.Next() {
        err := rows.Scan(
		  {{- range .ResponseModel.Fields}}{{- if ne .DBType  "None"}} 
            &item.{{.Name}},
          {{- end }}{{- end }}
          &item.UpdatedAt,
          &item.CreatedAt,
        )

		finalitems = append(finalitems, *item)
		
        if err != nil {
			models.{{.FieldName}}GetPool.Put(item)
            return  err
        }
		item.Reset()
		   
    }
	models.{{.FieldName}}GetPool.Put(item)
	*out = finalitems
	
	

	return nil
}


func (s *{{ .AppName | toPascalCase }}Repository) GetAll{{.FieldName}}s{{.ParentName | toLowerCaseName}}DoesNotHave(ctx context.Context, {{.ParentName | toLowerCaseName}}ID string,out *[]models.{{.FieldName}}Get) error {
	
	
	{{.ParentName | toInitials}}ID, err := strconv.Atoi({{.ParentName | toLowerCaseName}}ID)
	if err != nil {
		return  fmt.Errorf("invalid {{.ParentName | toLowerCaseName}} ID: %v", err)
	}
		
	isPG := s.DB.Dialector.Name() == "postgres"
	{{- if  .MtM }}
	qb := querybuilder.GetBuilder(isPG)
	defer qb.Release()

	qb.Select("{{.FieldName | toInitials}}.*").
        From("{{.LowerFieldName}}s {{.FieldName | toInitials }}").
        JoinArgs("LEFT JOIN {{.TableName }} {{ .TableName | toInitials}} ON {{.FieldName | toInitials}}.id = {{ .TableName | toInitials}}.{{.LowerFieldName}}_id AND {{ .TableName | toInitials}}.{{.LowerParentName}}_id = ?", {{.ParentName | toInitials}}ID).
        Where("{{.TableName | toInitials}}.{{.LowerParentName}}_id IS NULL",nil).
        OrderBy("{{.FieldName | toInitials}}.id ASC")

	
	{{- end }}
	{{- if .OtM}}
	qb := querybuilder.GetBuilder(isPG)
	defer qb.Release()
		
	qb.Select("{{.FieldName | toInitials}}.*", ).
        From("{{.LowerFieldName}}s {{.FieldName | toInitials }}").
        Where("({{.FieldName | toInitials}}.{{.LowerParentName}}_id IS NULL OR {{.FieldName | toInitials}}.{{.LowerParentName}}_id <> ?)", {{.ParentName | toInitials}}ID).
        OrderBy("{{.FieldName | toInitials}}.id ASC")
	{{- end}}

    query, args, err := qb.ToSql()
    if err != nil {
        return err
    }

	// Reset the slice length to 0 (but keep the pooled capacity)
	finalitems := (*out)[:0]


    rows, err := s.SQLC.QueryContext(ctx, query, args...)
    if err != nil {
        return  err
    }
    defer rows.Close()

    item := models.{{.FieldName}}GetPool.Get()
    for rows.Next() {
        err := rows.Scan(
		  {{- range .ResponseModel.Fields}}{{- if ne .DBType  "None"}} 
            &item.{{.Name}},
          {{- end }}{{- end }}
          &item.UpdatedAt,
          &item.CreatedAt,        
        )

		finalitems = append(finalitems, *item)
        if err != nil {
			models.{{.FieldName}}GetPool.Put(item)	
            return  err
        }
		item.Reset()

    }
	models.{{.FieldName}}GetPool.Put(item)
	*out = finalitems

	return nil
}
