package services

import (
	"context"
	"fmt"
	"strconv"
	{{- $break_3 := false }}
	{{- range .Fields }}
		{{- if eq .Name "UUID" }}
			{{- $break_3 = true }}
		{{- end }}
	{{- end }}

	"{{ .ProjectName }}/{{ $.AppName }}/models"
	 "database/sql"
     "github.com/jackc/pgx/v5"

)



// Create inserts a new {{.LowerName}}
func (s *{{ .AppName | toPascalCase }}Service) Create{{.Name}}(ctx context.Context, posted_{{.LowerName}} *models.{{.Name}}Post,out *models.{{.Name}}) error {
    if s.Repo.NativePool != nil {
	    return  s.WithNativeTransaction(ctx, func(tx pgx.Tx) error {
			err := s.Repo.Create{{.Name}}(ctx, posted_{{.LowerName}}, tx, out)
            if err != nil {
                return fmt.Errorf("{{.LowerName}} creation failed: %v", err)
            }
			return nil
        })        
	}
    
    return  s.WithSqlcTransaction(ctx, func(tx *sql.Tx) error {
        err := s.Repo.Create{{.Name}}(ctx, posted_{{.LowerName}}, tx, out)
        if err != nil {
            return fmt.Errorf("{{.LowerName}} creation failed: %v", err)
        }
        return nil
    })
}

// GetOne fetches a {{.LowerName}} by ID
func (s *{{ .AppName | toPascalCase }}Service) GetOne{{.Name}}(ctx context.Context, id string, out *models.{{.Name}})  error {

	err := s.Repo.GetOne{{.Name}}(ctx, id, out)
    if err != nil {
        return fmt.Errorf("{{.LowerName}} creation failed: %v", err)
    }

	return nil
}

// Get returns {{.LowerName}}s with pagination and search
func (s *{{ .AppName | toPascalCase }}Service) Get{{.Name}}s(ctx context.Context, pagination models.Pagination, searchTerm map[string]string, out *[]models.{{.Name}}Get) (uint, error) {

	totalCount, err := s.Repo.Get{{.Name}}s(ctx, pagination, searchTerm,out)
    if err != nil {
        return 0, fmt.Errorf("failed to get {{.LowerName}}s: %v", err)
    }
	return totalCount, nil
}

// Update modifies a {{.Name}}s by ID
func (s *{{ .AppName | toPascalCase }}Service) Update{{.Name}}(ctx context.Context, patch_{{.LowerName}} *models.{{.Name}}Patch, id string,out *models.{{.Name}}) error {
	// update User

      _, err := strconv.Atoi(id)
    if err != nil {
        return fmt.Errorf("invalid ID: %v", err)
    }
    if s.Repo.NativePool != nil {
        return  s.WithNativeTransaction(ctx, func(tx pgx.Tx) error {

            err = s.Repo.Update{{.Name}}(ctx, id , patch_{{.LowerName}}, tx,out)
            if err != nil {
                return fmt.Errorf("{{.LowerName}} update failed: %v", err)
            }
            return nil
        })
	}

	return  s.WithSqlcTransaction(ctx, func(tx *sql.Tx) error {  
        err = s.Repo.Update{{.Name}}(ctx, id , patch_{{.LowerName}}, tx,out)
        if err != nil {
            return fmt.Errorf("{{.LowerName}} update failed: %v", err)
        }
        return nil
    })
}

// Delete removes a {{.LowerName}} by ID
func (s *{{ .AppName | toPascalCase }}Service) Delete{{.Name}}(ctx context.Context, id string) error {

    _, err := strconv.Atoi(id)
    if err != nil {
        return fmt.Errorf("invalid ID: %v", err)
    }
    if s.Repo.NativePool != nil {
        return s.WithNativeTransaction(ctx, func(tx pgx.Tx) error {
            if err := s.Repo.Delete{{.Name}}(ctx, id, tx); err != nil {
                return fmt.Errorf("{{.LowerName}} deletion failed: %v", err)
            }
            return nil
	    })
	}

    return s.WithSqlcTransaction(ctx, func(tx *sql.Tx) error {
        if err := s.Repo.Delete{{.Name}}(ctx, id, tx); err != nil {
            return fmt.Errorf("{{.LowerName}} deletion failed: %v", err)
        }
        return nil
	})
	
}
