package services

import (
	"context"
	"fmt"
	"strconv"
	{{- $break_3 := false }}
	{{- range .Fields }}
		{{- if eq .Name "UUID" }}
			{{- $break_3 = true }}
		{{- end }}
	{{- end }}

	"{{ .ProjectName }}/{{ $.AppName }}/models"
	 "gorm.io/gorm"

)



// Create inserts a new {{.LowerName}}
func (s *{{ .AppName | toPascalCase }}Service) Create{{.Name}}(ctx context.Context, posted_{{.LowerName}} *models.{{.Name}}Post) (*models.{{.Name}}Get, error) {
	var {{.LowerName}}  models.{{.Name}}

	err := s.withTransaction(ctx, func(tx *gorm.DB) error {
			item, err := s.Repo.Create{{.Name}}(ctx, posted_{{.LowerName}}, tx)
            if err != nil {
                return fmt.Errorf("{{.LowerName}} creation failed: %v", err)
            }
            {{.LowerName}} = *item
			return nil
		})
        if err != nil {
           return &models.{{.Name}}Get{}, err
        }


		return {{.LowerName}}.ToGet(), err
}

// GetOne fetches a {{.LowerName}} by ID
func (s *{{ .AppName | toPascalCase }}Service) GetOne{{.Name}}(ctx context.Context, id string) (*models.{{.Name}}Get, error) {

	item, err := s.Repo.GetOne{{.Name}}(ctx, id)
    if err != nil {
        return &models.{{.Name}}Get{},fmt.Errorf("{{.LowerName}} creation failed: %v", err)
    }

	return item.ToGet(), nil
}

// Get returns {{.LowerName}}s with pagination and search
func (s *{{ .AppName | toPascalCase }}Service) Get{{.Name}}s(ctx context.Context, pagination models.Pagination, searchTerm map[string]any) ([]models.{{.Name}}Get, uint, error) {

	{{.LowerName}}s, totalCount, err := s.Repo.Get{{.Name}}s(ctx, pagination, searchTerm)
    if err != nil {
        return nil, 0, fmt.Errorf("failed to get {{.LowerName}}s: %v", err)
    }
	return {{.LowerName}}s,totalCount, nil
}

// Update modifies a {{.Name}}s by ID
func (s *{{ .AppName | toPascalCase }}Service) Update{{.Name}}(ctx context.Context, patch_{{.LowerName}} *models.{{.Name}}Patch, id string) (*models.{{.Name}}Get, error) {
	// update User
	var existing models.{{.Name}}
      _, err := strconv.Atoi(id)
    if err != nil {
        return &models.{{.Name}}Get{},fmt.Errorf("invalid ID: %v", err)
    }

	err = s.withTransaction(ctx, func(tx *gorm.DB) error {
         err := tx.Model(&models.{{.Name}}{}).Where("id = ?", id).First(&existing).Error
         if err != nil {
             return err
         }


        item, err := s.Repo.Update{{.Name}}(ctx, &existing, patch_{{.LowerName}}, tx)
        if err != nil {
            return fmt.Errorf("{{.LowerName}} update failed: %v", err)
        }
        existing = *item
        return nil
    })
	if err != nil {
        return &models.{{.Name}}Get{}, err
    }

	return existing.ToGet(), err
}

// Delete removes a {{.LowerName}} by ID
func (s *{{ .AppName | toPascalCase }}Service) Delete{{.Name}}(ctx context.Context, id string) error {

    _, err := strconv.Atoi(id)
    if err != nil {
        return fmt.Errorf("invalid ID: %v", err)
    }

	err = s.withTransaction(ctx, func(tx *gorm.DB) error {
        var existing models.{{.Name}}
         err := tx.Model(&models.{{.Name}}{}).Where("id = ?", id).First(&existing).Error
             if err != nil {
                 return err
             }

		if err := s.Repo.Delete{{.Name}}(ctx, &existing, tx); err != nil {
            return fmt.Errorf("{{.LowerName}} deletion failed: %v", err)
        }
		return nil
	})
	if err != nil {
        return err
    }

	return err
}
