version: "2"

sql:
  - engine: "postgresql"  # Specifies the database engine (PostgreSQL)
    queries: "query.sql"  # Path to your SQL query file(s)
    schema: "schema.sql"  # Path to your schema SQL file
    gen:
      go:
        package: "db"  # Go package name for the generated code
        out: "sqlc"  # Output directory for the generated Go code
        emit_json_tags: true  # Emit JSON struct tags in Go structs
        emit_prepared_queries: false  # Whether to emit prepared queries
        emit_interface: true  # Whether to generate interfaces for queries
        emit_exact_table_names: false  # Whether to preserve exact table names (case-sensitive)
