{
    "project_name": "{{.ProjectName}}",
    "app_name": "{{.AppName}}",
    "models": [
      {
        "name": "Group",
        "search_fields": ["name", "description","active"],
        "rln_model": ["User$mtm$user_groups", "Scope$mtm$group_scopes"],
        "fields": [
          {
            "name": "ID",
            "type": "uint",
            "annotation": "gorm:\"primaryKey;autoIncrement:true\" json:\"id,omitempty\"",
            "curd_flag": "true$false$false$true$false$false"
          },
          {
            "name": "Name",
            "type": "string",
            "annotation": "gorm:\"not null; unique;\" json:\"name,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "Description",
            "type": "string",
            "annotation": "gorm:\"not null; \" json:\"description,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "Active",
            "type": "bool",
            "annotation": "gorm:\"default:true; constraint:not null;\" json:\"active\"",
            "curd_flag": "true$false$true$true$false$false"
          },
          {
            "name": "Users",
            "type": "[]User",
            "annotation": "gorm:\"many2many:user_groups; constraint:OnUpdate:CASCADE; OnDelete:CASCADE;\" json:\"users,omitempty\"",
            "curd_flag": "false$false$false$false$false$true"
          },
          {
            "name": "Scopes",
            "type": "[]Scope",
            "annotation": "gorm:\"many2many:group_scopes; constraint:OnUpdate:CASCADE; OnDelete:CASCADE;\" json:\"scopes,omitempty\"",
            "curd_flag": "false$false$false$false$false$true"
          },
          {
            "name": "AppID",
            "type": "sql.NullInt64",
            "annotation": "gorm:\"foreignkey:AppID OnDelete:SET NULL\" json:\"app_id,omitempty\" swaggertype:\"number\"",
            "curd_flag": "false$false$false$false$true$false"
          }
        ]
      },
      {
        "name": "App",
        "search_fields": ["name", "description","active"],
        "rln_model": ["Group$otm"],
        "fields": [
          {
            "name": "ID",
            "type": "uint",
            "annotation": "gorm:\"primaryKey;autoIncrement:true\" json:\"id,omitempty\"",
            "curd_flag": "true$false$false$true$false$false"
          },
          {
            "name": "Name",
            "type": "string",
            "annotation": "gorm:\"not null; unique;\" json:\"name,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "UUID",
            "type": "string",
            "annotation": "gorm:\"constraint:not null; unique; type:string;\" json:\"uuid\"",
            "curd_flag": "true$false$false$false$true$false"
          },
          {
            "name": "Active",
            "type": "bool",
            "annotation": "gorm:\"constraint:not null;\" json:\"active\"",
            "curd_flag": "true$false$true$true$false$false"
          },
          {
            "name": "Description",
            "type": "string",
            "annotation": "gorm:\"not null; \" json:\"description,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "Groups",
            "type": "[]Group",
            "annotation": "gorm:\"association_foreignkey:AppID constraint:OnUpdate:SET NULL OnDelete:SET NULL\" json:\"groups,omitempty\"",
            "curd_flag": "false$false$false$false$true$false"
          }
        ]
      },
      {
        "name": "User",
        "search_fields": ["username", "email", "first_name", "last_name","disabled"],
        "rln_model": ["Group$mtm$user_groups", "Scope$mtm$user_scopes"],
        "fields": [
          {
            "name": "ID",
            "type": "uint",
            "annotation": "gorm:\"primaryKey;autoIncrement:true\" json:\"id,omitempty\"",
            "curd_flag": "true$false$false$false$false$false"
          },
          {
            "name": "Email",
            "type": "string",
            "annotation": "gorm:\"not null; unique; type:string;\" json:\"email,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "FirstName",
            "type": "string",
            "annotation": "gorm:\"constraint:not null; type:string;\" json:\"first_name\"",
            "curd_flag": "true$true$true$false$true$false"
          },
          {
            "name": "MiddleName",
            "type": "string",
            "annotation": "gorm:\"constraint:not null; type:string;\" json:\"middle_name\"",
            "curd_flag": "true$true$true$false$true$false"
          },
          {
            "name": "LastName",
            "type": "string",
            "annotation": "gorm:\"constraint:not null; type:string;\" json:\"last_name\"",
            "curd_flag": "true$true$true$false$true$false"
          },
          {
            "name": "Username",
            "type": "string",
            "annotation": "gorm:\"not null; unique;\" json:\"username,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "Password",
            "type": "string",
            "annotation": "gorm:\"not null;\" json:\"password,omitempty\"",
            "curd_flag": "false$false$false$true$false$false"
          },
          {
            "name": "DateRegistred",
            "type": "time.Time",
            "annotation": "gorm:\"constraint:not null; default:current_timestamp;\" json:\"date_registered,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "LastLogin",
            "type": "time.Time",
            "annotation": "gorm:\"constraint:not null;\" json:\"last_login,omitempty\"",
            "curd_flag": "true$false$false$false$false$false"
          },
          {
            "name": "Disabled",
            "type": "bool",
            "annotation": "gorm:\"default:true; constraint:not null;\" json:\"disabled\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "UUID",
            "type": "string",
            "annotation": "gorm:\"constraint:not null; unique; type:string;\" json:\"uuid\"",
            "curd_flag": "true$false$false$false$true$false"
          },
          {
            "name": "Groups",
            "type": "[]Group",
            "annotation": "gorm:\"many2many:user_groups; constraint:OnUpdate:CASCADE; OnDelete:CASCADE;\" json:\"groups,omitempty\"",
            "curd_flag": "false$false$false$false$false$true"
          },
          {
            "name": "Scopes",
            "type": "[]Scope",
            "annotation": "gorm:\"many2many:user_scopes; constraint:OnUpdate:CASCADE; OnDelete:CASCADE;\" json:\"scopes,omitempty\"",
            "curd_flag": "false$false$false$false$false$true"
          },
          {
            "name": "GoogleID",
            "type": "*string",
            "annotation": "gorm:\"unique; index\" json:\"google_id,omitempty\"",
            "curd_flag": "true$false$false$false$false$false"
          },
          {
            "name": "MicrosoftID",
            "type": "*string",
            "annotation": "gorm:\"unique; index\" json:\"microsoft_id,omitempty\"",
            "curd_flag": "true$false$false$false$false$false"
          },
          {
            "name": "AuthProvider",
            "type": "string",
            "annotation": "gorm:\"type:string;\" json:\"auth_provider,omitempty\" validate:\"required,eq=Local|eq=Google|eq=Microsoft\"",
            "curd_flag": "true$true$true$false$true$false"
          }
        ]
      },
      {
        "name": "Scope",
        "search_fields": ["name", "description","active"],
        "rln_model": ["Resource$otm", "Group$mtm$group_scopes","User$mtm$user_scopes"],
        "fields": [
          {
            "name": "ID",
            "type": "uint",
            "annotation": "gorm:\"primaryKey;autoIncrement:true\" json:\"id,omitempty\"",
            "curd_flag": "true$false$false$false$false$false"
          },
          {
            "name": "Name",
            "type": "string",
            "annotation": "gorm:\"not null; unique;\" json:\"name,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "Description",
            "type": "string",
            "annotation": "gorm:\"not null; \" json:\"description,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "Active",
            "type": "bool",
            "annotation": "gorm:\"default:true; constraint:not null;\" json:\"active\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "Resources",
            "type": "[]Resource",
            "annotation": "gorm:\"association_foreignkey:ScopeID constraint:OnUpdate:SET NULL OnDelete:SET NULL\" json:\"resources,omitempty\"",
            "curd_flag": "false$false$false$false$true$false"
          },
          {
            "name": "Groups",
            "type": "[]Group",
            "annotation": "gorm:\"many2many:group_scopes; constraint:OnUpdate:CASCADE; OnDelete:CASCADE;\" json:\"groups,omitempty\"",
            "curd_flag": "false$false$false$false$false$true"
          },
          {
            "name": "Users",
            "type": "[]User",
            "annotation": "gorm:\"many2many:user_scopes; constraint:OnUpdate:CASCADE; OnDelete:CASCADE;\" json:\"users,omitempty\"",
            "curd_flag": "false$false$false$false$false$true"
          }
        ]
      },
      {
        "name": "Resource",
        "search_fields": ["name", "description","method"],
        "rln_model": [],
        "fields": [
          {
            "name": "ID",
            "type": "uint",
            "annotation": "gorm:\"primaryKey;autoIncrement:true\" json:\"id,omitempty\"",
            "curd_flag": "true$false$false$false$false$false"
          },
          {
            "name": "Name",
            "type": "string",
            "annotation": "gorm:\"not null; unique;\" json:\"name,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "RoutePath",
            "type": "string",
            "annotation": "gorm:\"not null;\" json:\"route_path,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "Method",
            "type": "string",
            "annotation": "gorm:\"not null;\" json:\"method,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "Description",
            "type": "string",
            "annotation": "gorm:\"not null; \" json:\"description,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          },
          {
            "name": "ScopeID",
            "type": "sql.NullInt64",
            "annotation": "gorm:\"foreignkey:ScopeID OnDelete:SET NULL\" json:\"scope_id,omitempty\" swaggertype:\"number\"",
            "curd_flag": "false$false$false$false$true$false"
          }
        ]
      },
      {
        "name": "JWTSalt",
        "search_fields": [],
        "rln_model": [],
        "fields": [
          {
            "name": "ID",
            "type": "uint",
            "annotation": "gorm:\"primaryKey;autoIncrement:true\" json:\"id,omitempty\"",
            "curd_flag": "true$false$false$false$false$false"
          },
          {
            "name": "SaltA",
            "type": "string",
            "annotation": "gorm:\"not null; unique;\" json:\"salt_a,omitempty\"",
            "curd_flag": "true$false$true$true$false$false"
          },
          {
            "name": "SaltB",
            "type": "string",
            "annotation": "gorm:\"not null; unique;\" json:\"salt_b,omitempty\"",
            "curd_flag": "true$true$true$true$false$false"
          }
        ]
      }
    ]
  }
  